aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
antlr4-python3-runtime
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asteroid-filterbanks
asttokens
async-lru
attrs
av
babel
backoff
bcrypt
beautifulsoup4
bleach
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
colorlog
comm
contourpy
ctranslate2
cycler
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
dirtyjson
distro
docopt
durationpy
einops
executing
fastapi
faster-whisper
fastjsonschema
ffmpy
filelock
filetype
flatbuffers
fonttools
fqdn
frozenlist
fsspec
google-auth
googleapis-common-protos
gradio
gradio_client
greenlet
groovy
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
HyperPyYAML
idna
importlib_metadata
importlib_resources
InstructorEmbedding
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
julius
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
kubernetes
lightning
lightning-utilities
llama-cloud
llama-cloud-services
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-chroma
llama-parse
llvmlite
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
monotonic
more-itertools
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numpy<2
oauthlib
omegaconf
onnxruntime
openai
openai-whisper
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
optuna
orjson
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
posthog
primePy
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydub
Pygments
pyparsing
pypdf
PyPika
pyproject_hooks
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytorch-lightning
pytorch-metric-learning
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
ruff
safehttpx
safetensors
scikit-learn
scipy
semantic-version
semver
Send2Trash
sentence-transformers
sentencepiece
shellingham
six
sniffio
sortedcontainers
soundfile
soupsieve
speechbrain
SQLAlchemy
stack-data
starlette
striprtf
sympy
tabulate
tenacity
tensorboardX
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
tomlkit
torch
torch-audiomentations
torch_pitch_shift
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
uri-template
urllib3
uvicorn
uvloop
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
whisperx
widgetsnbextension
wrapt
yarl
yt-dlp
zipp
